:root {
    --primary : #FFB300;
    --secondary : #E8E5DE;
    --tertiary : #000000;
    --text-primary : #FFB300;
    --text-secondary : #E8E5DE;
    --text-tertiary: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CerebriSansExtraBold';
}

@font-face {
    src: url('../fonts/Cerebri Sans ExtraBold.ttf');
    font-family: 'CerebriSansExtraBold'; 
}
@font-face {
    src: url('../fonts/Cerebri\ Sans\ SemiBold.ttf');
    font-family: 'CerebriSemiExtraBold'; 
} 
@font-face {
    src: url('../fonts/Cerebri\ Sans\ Book.ttf');
    font-family: 'CerebriSansBook'; 
} 

body {
    padding-bottom: 500px;
}

/*Dobra 1*/
#dobra1 {
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('../img/2.png');
    background-position: center;
    background-size: cover;
    height: 70vh;
    border-radius: 0px 0px 60px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    box-shadow: 0px 15px 3px var(--primary);
}

#cabecalho {
    
}

#faixa_logo{
    background-color: var(--primary);
    height: 95px;
}

#logo {
    max-width:200px;
    max-height:95px;
    width: auto;
    height: auto;
}

#icone_faixa {
    max-width:200px;
    max-height:90px;
    width: auto;
    height: auto;
    float: right;    
}

hr {
    margin: 0px 0;
}
  
.hr1 {
    border: 0;
    border-top: 10px solid #000000;
}

#dobra1_in {
    margin-left: 30px;
}

#dobra1_in h2 {
    font-size: 28px;
    margin-bottom: 30px;   
}

#dobra1_in p {
    font-family: 'CerebriSansBook';
    font-size: 22px;
}

#dobra2 {
    background-color:#E8E5DE;
    background-position: center;
    background-size: cover;
    height: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dobra2_in {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#dobra2_in h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color : var(--primary);  
    font-family: 'CerebriSemiExtraBold';
    text-align: center;
}

#dobra2_in p {
    font-family: 'CerebriSansBook';
    font-size: 18px;
    color : var(--tertiary);  
    
}

#dobra3 {
    display: flex;
    justify-content: space-around;
    padding: 40px;   
}

.card1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    border-radius: 20px;
    box-shadow: 0px 5px 3px #E8E5DE;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card1 h2{
    font-family:'CerebriSansExtraBold';
    padding-bottom: 15px;
}

.card1 p{
    font-family:'CerebriSemiExtraBold';
}
.card1 .dobra3_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}