:root {
    --primary : #FFB300;
    --secondary : #CCCCCC;
    --tertiary : #000000;
    --text-primary : #FFB300;
    --text-secondary : #CCCCCC;
    --text-tertiary: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CerebriSansExtraBold';
}

@font-face {
    src: url('../fonts/Cerebri Sans ExtraBold.ttf');
    font-family: 'CerebriSansExtraBold'; 
}
@font-face {
    src: url('../fonts/Cerebri\ Sans\ SemiBold.ttf');
    font-family: 'CerebriSemiExtraBold'; 
} 
@font-face {
    src: url('../fonts/Cerebri\ Sans\ Book.ttf');
    font-family: 'CerebriSansBook'; 
} 

/*Dobra 1*/
#dobra1 {
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.5)), url('../img/2.png');
    background-position: center;
    background-size: cover;
    border-radius: 60px;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}


#faixa_logo{
    background-repeat: no-repeat;
    background-color: var(--primary);
    height: 95px;
}

#logo {
    max-width:200px;
    max-height:95px;
    width: auto;
    height: auto;
}

#icone_faixa {
    max-width:200px;
    max-height:80px;
    width: auto;
    height: auto;
    float: right;    
}

#disclaimer {
    margin-left: 30px;
}

#disclaimer h2 {
    font-size: 28px;
    margin-bottom: 30px;   
}

#disclaimer p {
    font-family: 'CerebriSansBook';
    font-size: 22px;
}